/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main Styles for Site */

/*Mobile Styles*/

@media only screen and (max-width: 600px) {

	/*header*/

	h1 {
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		text-transform: uppercase;
		text-align: center;
		color: white;
		font-size: 40px;
		padding-bottom: 30px;
		padding-top: 5px;
	}

	.banner {
		background-image: url(../images/pink-sky-900_x_360.jpg);
		background-size: cover;
	}

	.logo {
		padding-left: 10px;
		padding-top: 10px;
	}

	.nav {
		display: inline-block;
		font-family: Arial, Helvetica, sans-serif;
		padding-top: 6px;
		padding-bottom: 6px;
		background-color: #C2EABA;
		border-radius: 20px;
		border: 5px solid;
		border-color: darkorchid;
	}

	.nav a {
		color: #C5283D;
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 6px;
		padding-bottom: 6px;
	}

	a:link {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.navbar {
		text-align: center;
		padding: 20px;
	}

	.bodyhome {
		background-color: #EACBD2;
	}


	.searchbar {
		height: 30px;
		border-radius: 10px;
		width: 80%;
	}

	.searchbutton {
		height: 30px;
		width: 30px;
	}

	.search {
		text-align: center;
	}


	/* Products Section*/

	.featured {
		text-align: center;
		padding-top: 30px;
	}

	h3 {
		font-family: 'Tilt Warp', cursive;
		font-size: 25px;
		color: white;
		padding-bottom: 10px;

	}

	.placehold1 {
		color: white;
		margin-left: 35%;
		margin-right: 35%;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
	}

	.product1 {
		text-align: center;
		padding-bottom: 12px;
		padding-top: 47px;
		font-family: 'Tilt Warp', cursive;
		font-size: 20px;
	}

	.product2 {
		text-align: center;
		padding-top: 12px;
		font-family: 'Tilt Warp', cursive;
		font-size: 20px;
	}

	.productimg {
		text-align: center;
	}

	.productlink {
		color: white;
	}

	.productlink:hover {
		color: blue;
	}

	/* Footer*/

	h4 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 22px;
		padding-bottom: 10px;
	}

	footer {
		display: flex;
		justify-content: space-evenly;
		margin-top: 40px;
	}

	.about li {
		padding: 5px;
		font-family: Arial, Helvetica, sans-serif;
	}
	
	.shop li {
		padding: 5px;
		font-family: Arial, Helvetica, sans-serif;
	}

	.help li {
		padding: 5px;
		font-family: Arial, Helvetica, sans-serif;
	}

	.footerlogo {
		padding-top: 20px;
		padding-bottom: 12px;
		margin-left: 80%;
	}


	/*About Page*/

	.aboutsearch {
		text-align: center;
		padding-bottom: 50px;
	}

	h2 {
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		padding-left: 12px;
		font-size: 30px;
		margin-top: 12px;
	}

	.aboutheader {
		background-color: #EACBD2;
	}

	.aboutcontainer {
		margin-left: 32px;
		margin-right: 32px;
	}

	.jon {
		width: 100%;
	}

	.tailor {
		width: 100%;
	}

	.abouttext1 {
		font-family: Arial, Helvetica, sans-serif;
		margin-top: 20px;
		margin-bottom: 40px;
	}

	.abouttext2 {
		font-family: Arial, Helvetica, sans-serif;
		margin-top: 20px;
		margin-bottom: 100px;
	}

	.abouth3 {
		color: black;
		padding-top: 30px;
	}

	/* Contact Page */

	.contactheader {
		background-color: #EACBD2;
	}

	.contactsearch {
		text-align: center;
		padding-bottom: 50px;
	}

	.contactcontainer {
		margin-left: 32px;
		margin-right: 32px;
		margin-top: 20px;
	}

	.contacttext {
		width: 100%;
		border-radius: 5px;
		padding: 10px;
		font-family: Arial, Helvetica, sans-serif;
		margin-top: 12px;
	}

	textarea {
		height: 100px;
	}

	label {
		font-family: Arial, Helvetica, sans-serif;
	}

	.sendbutton {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 15px;
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 6px;
		padding-bottom: 6px;
		background-color: #C2EABA;
		border-radius: 20px;
		border: 5px solid;
		border-color: darkorchid;
		margin-top: 20px;
	}

	.contacth3 {
		color: black;
		padding-top: 40px;
	}

	.location-phone {
		font-family: Arial, Helvetica, sans-serif;
		padding: 12px;
		line-height: 30px;
	}
}

/*tablet styles*/

@media only screen and (max-width: 800px) and (min-width: 601px) {
	h1 {
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		text-transform: uppercase;
		text-align: center;
		color: white;
		font-size: 50px;
		padding-bottom: 40px;
		padding-top: 10px;
	}

	.banner {
		background-image: url(../images/pink-sky-900_x_360.jpg);
		background-size: cover;
	}

	.logo {
		padding-left: 10px;
		padding-top: 10px;
	}

	.nav {
		display: inline-block;
		font-family: Arial, Helvetica, sans-serif;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #C2EABA;
		border-radius: 30px;
		border: 5px solid;
		border-color: darkorchid;
	}

	.nav a {
		color: #C5283D;
		padding-left: 45px;
		padding-right: 45px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	a:link {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.navbar {
		text-align: center;
		padding: 30px;
	}

	.bodyhome {
		background-color: #EACBD2;
	}

	.searchbar {
		height: 40px;
		border-radius: 10px;
		width: 80%;
		font-size: 20px;
	}

	.searchbutton {
		height: 40px;
		width: 40px;
	}

	.search {
		text-align: center;
	}

	.featured {
		text-align: center;
		padding-top: 30px;
	}

	h3 {
		font-family: 'Tilt Warp', cursive;
		font-size: 30px;
		color: white;
		padding-bottom: 10px;

	}

	.placehold1 {
		color: white;
		margin-left: 35%;
		margin-right: 35%;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
	}

	.product1 {
		text-align: center;
		padding-bottom: 12px;
		padding-top: 47px;
		font-family: 'Tilt Warp', cursive;
		font-size: 20px;
	}

	.product2 {
		text-align: center;
		padding-top: 12px;
		font-family: 'Tilt Warp', cursive;
		font-size: 20px;
	}

	.productimg {
		text-align: center;
	}

	.productlink {
		color: white;
	}

	.productlink:hover {
		color: blue;
	}

	.productlist {
		display: grid;
		grid-template-areas: "a b"
							 "c d"
							 "e f";
	}

		/* Footer*/

		h4 {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 22px;
			padding-bottom: 10px;
		}
	
		footer {
			display: flex;
			justify-content: space-evenly;
			margin-top: 40px;
		}
	
		.about li {
			padding: 5px;
			font-family: Arial, Helvetica, sans-serif;
		}
		
		.shop li {
			padding: 5px;
			font-family: Arial, Helvetica, sans-serif;
		}
	
		.help li {
			padding: 5px;
			font-family: Arial, Helvetica, sans-serif;
		}
	
		.footerlogo {
			padding-top: 20px;
			padding-bottom: 12px;
			margin-left: 80%;
		}

		/*About Page*/

		.aboutsearch {
			text-align: center;
			padding-bottom: 50px;
		}
	
		h2 {
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			padding-left: 12px;
			font-size: 35px;
			margin-top: 12px;
		}
	
		.aboutheader {
			background-color: #EACBD2;
		}
	
		.aboutcontainer {
			margin-left: 32px;
			margin-right: 32px;
		}
	
		.jon {
			width: 45%;
			float: left;
			padding-right: 12px;
			padding-bottom: 12px;
		}
	
		.tailor {
			width: 45%;
			float: left;
			padding-right: 12px;
			padding-bottom: 12px;
		}
	
		.abouttext1 {
			font-family: Arial, Helvetica, sans-serif;
			margin-bottom: 40px;
			line-height: 20px;
		}
	
		.abouttext2 {
			font-family: Arial, Helvetica, sans-serif;
			margin-bottom: 100px;
			line-height: 20px;
		}

		.abouth3 {
			color: black;
			padding-top: 30px;
		}

		/* Contact Page */

		.contactheader {
			background-color: #EACBD2;
		}
	
		.contactsearch {
			text-align: center;
			padding-bottom: 50px;
		}
	
		.contactcontainer {
			margin-left: 40px;
			margin-right: 40px;
			margin-top: 20px;
		}
	
		.contacttext {
			width: 100%;
			border-radius: 5px;
			padding: 10px;
			font-family: Arial, Helvetica, sans-serif;
			margin-top: 12px;
		}
	
		textarea {
			height: 100px;
		}
	
		label {
			font-family: Arial, Helvetica, sans-serif;
		}
	
		.sendbutton {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 15px;
			padding-left: 40px;
			padding-right: 40px;
			padding-top: 6px;
			padding-bottom: 6px;
			background-color: #C2EABA;
			border-radius: 20px;
			border: 5px solid;
			border-color: darkorchid;
			margin-top: 20px;
		}
	
		.contacth3 {
			color: black;
			padding-top: 40px;
		}
	
		.location-phone {
			font-family: Arial, Helvetica, sans-serif;
			padding: 12px;
			line-height: 30px;
		}



}

/*desktop styles*/

@media only screen and (min-width: 800px) {
	h1 {
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		text-transform: uppercase;
		color: white;
		font-size: 60px;
		padding-bottom: 50px;
		padding-top: 50px;
		text-align: center;
	}

	header {
		background-image: url(../images/pink-sky-1600_x_640.jpg);
		background-size: cover;
	}

	.logo {
		float: left;
		padding-left: 12px;
		padding-top: 12px;
		position: absolute;
	}

	.nav {
		display: inline-block;
		font-family: Arial, Helvetica, sans-serif;
		margin-left: 25px;
		margin-right: 25px;
		padding-top: 15px;
		padding-bottom: 15px;
		background-color: #C2EABA;
		border-radius: 10px;
		border: 5px solid;
		border-color: darkorchid;
	}

	.nav a {
		color: #C5283D;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 60px;
		padding-right: 60px;
	}

	a:link {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.navbar {
		text-align: center;
		padding: 30px;
	}

	.searchbar {
		height: 40px;
		border-radius: 10px;
		width: 675px;
		font-size: 20px;
		margin-top: 10px;
	}

	.searchbutton {
		height: 40px;
		width: 40px;
	}

	.search {
		text-align: center;
		padding-bottom: 40px;
	}

	.bodyhome {
		background-color: #EACBD2;
	}

	.featured {
		text-align: center;
		padding-top: 30px;
	}

	h3 {
		font-family: 'Tilt Warp', cursive;
		font-size: 30px;
		color: white;
		padding-bottom: 10px;

	}

	.placehold1 {
		color: white;
		margin-left: 35%;
		margin-right: 35%;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
	}

	.product1 {
		text-align: center;
		padding-bottom: 12px;
		padding-top: 47px;
		font-family: 'Tilt Warp', cursive;
		font-size: 20px;
	}

	.product2 {
		text-align: center;
		padding-top: 12px;
		font-family: 'Tilt Warp', cursive;
		font-size: 20px;
	}

	.productimg {
		text-align: center;
	}

	.productlink {
		color: white;
	}

	.productlink:hover {
		color: blue;
	}

	.productlist {
		display: grid;
		grid-template-areas: "a b c"
							 "d e f";
	}

		/* Footer*/

		h4 {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 22px;
			padding-bottom: 10px;
		}
	
		footer {
			display: flex;
			margin-top: 40px;
			justify-content: space-evenly;
		}
	
		.about li {
			padding: 5px;
			font-family: Arial, Helvetica, sans-serif;
		}
		
		.shop li {
			padding: 5px;
			font-family: Arial, Helvetica, sans-serif;
		}
	
		.help li {
			padding: 5px;
			font-family: Arial, Helvetica, sans-serif;
		}
	
		.footerlogo {
			padding-top: 20px;
			padding-bottom: 12px;
			margin-left: 90%;
		}

		/*About Page*/

		.aboutsearch {
			text-align: center;
			padding-bottom: 50px;
		}
	
		h2 {
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			padding-left: 24px;
			font-size: 40px;
			margin-top: 12px;
		}
	
		.aboutheader {
			background-color: #EACBD2;
		}
	
		.aboutcontainer {
			margin-left: 15%;
			margin-right: 15%;
		}
	
		.jon {
			width: 275px;
			height: auto;
			float: left;
			padding-right: 12px;
			padding-bottom: 12px;
			
		}
	
		.tailor {
			width: 275px;
			height: auto;
			float: left;
			padding-right: 12px;
			padding-bottom: 12px;
		}
	
		.abouttext1 {
			font-family: Arial, Helvetica, sans-serif;
			margin-bottom: 15%;
			line-height: 20px;
		}
	
		.abouttext2 {
			font-family: Arial, Helvetica, sans-serif;
			margin-bottom: 200px;
			line-height: 20px;
		}

		.abouth3 {
			color: black;
			padding-top: 30px;
		}

			/* Contact Page */

			.contactheader {
				background-color: #EACBD2;
			}
		
			.contactsearch {
				text-align: center;
				padding-bottom: 50px;
			}
		
			.contactcontainer {
				margin-left: 15%;
				margin-right: 15%;
				margin-top: 20px;
			}
		
			.contacttext {
				width: 100%;
				border-radius: 5px;
				padding: 10px;
				font-family: Arial, Helvetica, sans-serif;
				margin-top: 12px;
			}
		
			textarea {
				height: 100px;
			}
		
			label {
				font-family: Arial, Helvetica, sans-serif;
			}
		
			.sendbutton {
				font-family: Arial, Helvetica, sans-serif;
				font-size: 15px;
				padding-left: 40px;
				padding-right: 40px;
				padding-top: 6px;
				padding-bottom: 6px;
				background-color: #C2EABA;
				border-radius: 20px;
				border: 5px solid;
				border-color: darkorchid;
				margin-top: 20px;
			}
		
			.contacth3 {
				color: black;
				padding-top: 60px;
			}
		
			.location-phone {
				font-family: Arial, Helvetica, sans-serif;
				padding: 12px;
				line-height: 30px;
			}

			.contactgriddy {
				display: grid;
				grid-template-areas: "a b";
				text-align: center;
				padding-bottom: 60px;
			}

			
}

/*Animations*/

	/*picture animation*/

	.productimg:hover {
		transform: scale(1.040);
		transition: ease-in 0.4s;
	}

	.productimg {
		transform: scale(1);
		transition: ease-out 0.4s;
	}

	/*nav button animation*/

	.nav:hover {
		animation: size 0.4s ;
		animation-fill-mode: forwards;
		background-color: #EACBD2;
		transition: ease-in 0.4s;

	}

	@keyframes size {
		0% {
			transform: scale(1);
		}

		100% {
			transform: scale(1.03);
		}
	}

/*Accessability*/

	/*skip-links*/

	.skip-links{
		list-style: none;
		margin: 0;
		padding: 0;
	  }

	.skip-links a{
		position: absolute;
		text-align: center;
		top: -3em;
		color:blue;
		padding: .5em 1em;
		font-weight: bold;
	}

	.skip-links a:focus{
		top: 0;
	}

	.back {
		text-align: start;
		padding-bottom: 20px;
		padding-left: 12px;
	}
	  
